body{
    background-color: #f0f0f0;
    text-align: center;
    color: #333;
}

.container{
    background-color: #fff;
    margin: 50px 350px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: black 1px 1px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-size: 18px;
    color: dodgerblue;
    margin-bottom: 10px;
}

label{
    font-size: 14px;
    color: #333;
    /* margin-bottom: 5px; */
    /* display: block; */
    color: dodgerblue;
}

input[type="text"],
input[type="email"], 
input[type="tel"]{
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    box-shadow: black 1px 1px 10px;
}   

input[type="submit"],
input[type="reset"]{
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: black 1px 1px 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover{
    background-color: #0056b3;
}
input[type="submit"]:active,
input[type="reset"]:active{
    background-color: #004494;
}